{% extends "base.html" %}

{% block title %}
Extraction
{% endblock %}

{% block content %}
<div class="container mt-5">
    <form action="#" method="post" class="needs-validation">
      <div class="mb-3 mt-3">
        <label for="product_code" class="form-label">Product code:</label>
        <input type="text" class="form-control" id="product_code" placeholder="Enter product code" name="product_code" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="myCheck"  name="remember" required>
        <label class="form-check-label" for="myCheck">I hereby consent to the processing of the data for the selected purposes.</label>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Check this checkbox to continue.</div>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {{alert}}
</div>
{% endblock %}


