{% extends "base.html" %}

{% block title %}
Ceneo Scraper
{% endblock %}

{% block content %}
<div class="container-fluid p-4 mt-4">
	<h3>Cel dzialania aplikacji</h3>
	<p>Aplikacja webowa służąca do
		pobierania z serwisu Ceneo.pl opinii o produktach na podstawie ich indywidualnych kodów
		oraz do wyświetlenia pobranych opinii i podstawowych statystyk o nich.
	</p><br>

	<h3>Opis dzialania aplikacji</h3>
	<p>Ekstrakcja wszystkich opinii o produkcje z wszystkich stron.<br>
		Zapis pobranych danych do plików .json lub/i .csv.<br>
		Analiza statystyczna pobranych opinii.<br>
		Przygotowanie wykresów na podstawie statystyk.<br>
		Wykorzystanie micro frameworka Flask<br>
	</p><br>

	<h3>Zastosowane biblioteki</h3>
	<div class="d-grid">
		<button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo">Pokaz zastosowane biblioteki</button>
		<div id="demo" class="collapse">
			<ol class="list-group list-group-numbered">
				<li class="list-group-item">OS</li>
				<li class="list-group-item">Pandas</li>
				<li class="list-group-item">Matplotlib</li>
				<li class="list-group-item">NumPy</li>
				<li class="list-group-item">Request</li>
				<li class="list-group-item">Json</li>
				<li class="list-group-item">BeautifulSoup</li>
				<li class="list-group-item">Flask</li>
				<li class="list-group-item">Views</li>
			  </ol>
		</div>
	</div>

	<br><br>
	<h3>Zastosowane podejscia</h3>
	<p>Aplikacja początkowo będzie typowo
		strukturalna, ale z czasem kod zostanie zrefaktoryzowany do postaci proceduralnej, a
		finalnie zastosowane zostanie podejście zorientowane obiektowo.</p>
</div>
{% endblock %}
