{% extends "base.html" %}

{% block title %}
Product List
{% endblock %}

{% block content %}
<div id="accordion" class="container-fluid">
	{% for item in products %}
		<div class="card">
			<div class="card-header">
				<a class="btn" data-bs-toggle="collapse" href="#collapseOne">
					{{item}}
				</a>
			</div>
			<div id="collapseOne" class="collapse" data-bs-parent="#accordion">
				<div class="card-body">
					{{ item }}
				</div>
			</div>
	  	</div>
	  {% endfor %}	

</div>
{% endblock %}


